html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', 'Roboto', 'Lato', arial, sans-serif;
	font-weight: 400;
	color: #111;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	margin: auto;
}

.card {
	border-radius: 4px;
	margin: 16px;
	background-color: white;
	box-shadow: 0px 2px 7px 0px #000;
	cursor: pointer;
}

.card h2 {
	background-color: #1ba0d5;
	border-radius: 4px 4px 0 0;
	margin: 0;
	padding: 12px;
	color: white;
}

.card > div, .card p {
	padding: 8px;
}

.main-title {
	font-size: 3.1em;
	color: #333;
}